div(id='container', class='site-refresh')
    section(id='appbar')
        div(id='fixedbar' class='no')
            div(class='inner width')
                div(class='master-info-small pull-left')
                    div(class='tooltip',style='margin-top: 55px;')
                        div(class='middle')
                            div(class='sns-avatar min')
                                a(href=config.url, one-link-mark='yes')
                                    img(src=theme.avatar, width='36', class='avatar avatar-36')
                        div(class='middle-info')
                            h4(class='blogname')=config.title
                            div(class='nickname')=config.suthor
                nav(class='nav pull-left', role='navigation', itemscope, itemtype='http://schema.org/SiteNavigationElement')
                    ul(class='nav-menu main-menu')
                        each value, label in theme.appbar
                            - const valueArray = value.split('||')
                            li(class='menu-item menu-item-type-custom menu-item-object-custom')
                                a(href=valueArray[0], one-link-mark='yes')
                                    i(class=valueArray[1])
                                    span=' '+label
    section(id='contents', class='width')
        include sidebar-left.pug
        include main.pug

