#container.site-refresh
    section#appbar
        #fixedbar.no
            .inner.width
                .master-info-small.pull-left
                    .tooltip(style='margin-top: 55px;')
                        .middle
                            .sns-avatar.min
                                a(href=config.url, one-link-mark='yes')
                                    img.avatar.avatar-36(src=theme.avatar, width='36')
                        .middle-info
                            h4.blogname=config.title
                            .nickname=config.suthor
                nav.nav.pull-left(role='navigation', itemscope, itemtype='http://schema.org/SiteNavigationElement')
                    ul.nav-menu.main-menu
                        each value, label in theme.appbar
                            - const valueArray = value.split('||')
                            li.menu-item.menu-item-type-custom.menu-item-object-custom
                                a(href=url_for(trim(valueArray[0])), one-link-mark='yes')
                                    i(class=valueArray[1])
                                    span=' '+label
    section#contents.width
        include sidebar-left.pug
        include main.pug

