section(id='mobilebar')
    div(class='inner width icon')
        div(class='col back')
            a(href=config.url, one-link-mark='yes')
                i(class='fa fa-home')
        div(class='col title')=config.title
        div(class='col switch')
            a(href='javascript:display_item(\'overlay\');' one-link-mark='yes')
                i(class='fa fa-bars')
section(id='overlay', class='mobile', style='display: none;')
    #m-menu
        .inner
            ul(class='nav-menu m-menu')
                each value, label in theme.appbar
                    - const valueArray = value.split('||')
                    li(class='menu-item menu-item-type-custom menu-item-object-custom')
                        a(href=url_for(trim(valueArray[0])), one-link-mark='yes')
                            i(class=valueArray[1])
                            span=' '+label
                li(class='menu-item menu-item-type-custom menu-item-object-custom')
                    a(href='javascript:hide_item(\'overlay\');', one-link-mark='yes')
                        i.fa.fa-times
                        span=' '+__('page.close_menu')